.aboutSection {
  @apply w-full flex flex-col items-center my-12;
}

.aboutCard {
  @apply bg-[#111] w-96 h-80 my-4 text-[1.450rem] rounded px-8 py-5 text-white opacity-70 transition-all
}

.lightAboutCard {
  @apply bg-gray-900 w-96 h-80 my-4 text-[1.450rem] rounded px-8 py-5 text-white opacity-90 transition-all
}

/* About Card Animation */

.aboutCard::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.aboutCard:hover::after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.aboutCard:hover {
  @apply w-96 my-4 h-80 text-[1.450rem] rounded px-8 py-5 text-white opacity-60 scale-110
}

.lightAboutCard::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.lightAboutCard:hover::after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.lightAboutCard:hover {
  @apply bg-gray-900 my-4 w-96 h-80 text-[1.450rem] rounded px-8 py-5 text-white opacity-95 scale-110
}

@media(max-width: 768px) {
  .aboutCard {
    @apply w-80 h-80 my-4 text-[1.325rem]
  }

  .aboutCard:hover {
    @apply w-80 h-80 my-4 rounded text-[1.325rem] px-8 py-5 text-white opacity-90
  }

  .lightAboutCard {
    @apply w-80 h-80 my-4 text-[1.325rem]
  }

  .lightAboutCard:hover {
    @apply w-80 h-80 text-[1.325rem]
  }
}

@media (max-width: 350px) {
  .aboutCard {
    @apply w-64 h-64 my-4 text-base
  }

  .aboutCard:hover {
    @apply w-64 h-64 my-4 rounded text-base px-8 py-5 text-white opacity-90
  }

  .lightAboutCard {
    @apply w-64 h-64 my-4 text-base
  }

  .lightAboutCard:hover {
    @apply w-64 h-64 my-4 rounded text-base px-8 py-5 text-white opacity-90
  }
}

.siteTitle {
  @apply flex text-3xl text-neutral-300 opacity-70
}

.lightSiteTitle {
  @apply flex text-3xl text-black opacity-90
}

@media(max-width: 768px) {
  .siteTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lightSiteTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media(max-width: 400px) {
  .siteTitle {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .lightSiteTitle {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

@media(max-width: 345px) {
  .siteTitle {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .lightSiteTitle {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

.techs {
  @apply px-24
}

@media(max-width: 620px) {
  .techs {
    @apply px-10
  }
}

@media(max-width: 500px) {
  .techs {
    @apply px-4
  }
}

@media(max-width: 410px) {
  .techs {
    @apply px-1
  }
}

.myLinks {
  @apply flex flex-col items-center w-full my-5 py-4
}

.contact {
  @apply flex flex-col  items-center
}

.socialLink {
  @apply my-4 py-3 opacity-80 hover:opacity-95 flex items-center justify-around w-48 rounded bg-neutral-900
}

.lightSocialLink {
  @apply my-4 py-3 opacity-100 hover:opacity-95 flex items-center justify-around w-48 rounded bg-neutral-900
}