.posts {
  @apply w-full flex flex-col items-center my-3
}

.postCard {
  @apply cursor-pointer flex flex-col items-center justify-center w-[26rem] h-[7.5rem] opacity-100 hover:opacity-95 my-2 rounded;
  background-color: rgb(13, 14, 14); 
}

.lightPostCard {
  @apply cursor-pointer flex flex-col items-center justify-center bg-slate-900 px-2 py-1 w-[26rem] h-[7.5rem] opacity-90 hover:opacity-80 my-2 rounded
}

@media (max-width: 620px) {
  .postCard {
    @apply w-80
  }
  .lightPostCard {
    @apply w-80
  }
  .postImage {
      display: none !important;
  }
}

@media (max-width: 330px) {
  .postCard {
    @apply w-64
  }
  .lightPostCard {
    @apply w-64
  }
}

.siteTitle {
  @apply flex text-3xl text-neutral-300 opacity-70 mb-5
}

.lightSiteTitle {
  @apply flex text-3xl text-black opacity-90 mb-5
}

@media(max-width: 768px) {
  .siteTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lightSiteTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media(max-width: 400px) {
  .siteTitle {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .lightSiteTitle {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

@media(max-width: 345px) {
  .siteTitle {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .lightSiteTitle {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

.contact {
  @apply flex flex-col  items-center
}
