.project {
  cursor: pointer;
}

.lightProject {
  cursor: pointer;
}

@media(max-width: 620px) {
  .project div {
    width: 80%;
    margin: 1rem auto;
  }

  .lightProject div {
    width: 80%;
    margin: 1rem auto;
  }
}

.techs {
  @apply px-24
}

@media(max-width: 620px) {
  .techs {
    @apply px-10
  }
}

@media(max-width: 500px) {
  .techs {
    @apply px-4
  }
}

@media(max-width: 410px) {
  .techs {
    @apply px-1
  }
}

.posts {
  @apply w-full flex flex-col items-center my-12
}

.postsTitle {
  @apply flex text-3xl text-neutral-300 opacity-80 my-4
}

.lightPostsTitle {
  @apply flex text-3xl text-black opacity-90 my-4
}

.postCard {
  @apply cursor-pointer flex flex-col items-center justify-center bg-[#111]  px-2 py-1 w-96 h-24 opacity-70 hover:opacity-70 my-2 rounded
}

.lightPostCard {
  @apply cursor-pointer flex flex-col items-center justify-center bg-slate-900 px-2 py-1 w-96 h-24 opacity-90 hover:opacity-80 my-2 rounded
}