.wrapper {
  @apply h-full w-full flex flex-col items-center overflow-auto scroll-smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(9, 10, 20);
}

.lightWrapper {
  @apply h-full w-full bg-slate-100 opacity-[0.96] flex flex-col items-center overflow-auto scroll-smooth;
  font-family: 'Montserrat', sans-serif;
}