.mdxContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 20rem;
}

.mdxContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  @apply
   text-green-400
     hover:border-b-2
     hover:border-solid
   hover:border-green-400 cursor-default transition-all
}

.mdxContainer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  @apply cursor-default text-blue-400 transition-all
}

.mdxContainer h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  @apply text-slate-300
}

.mdxContainer h3 p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  @apply text-slate-300
}

.mdxContainer p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #444;
}

.mdxContainer a {
  color: blue;
  text-decoration: none;
}

.example {
  @apply text-slate-300 text-2xl my-6
}

/* Syntax Higlight */

.mdxContainer pre {
  @apply bg-neutral-900 text-lime-400 text-[1rem];
  border-radius: 4px;
  padding: 1rem;
  overflow-x: auto;
  margin-bottom: 1rem;
}

@media(max-width: 1024px) {
  .mdxContainer {
    padding: 1rem 10rem;
  }
}

@media(max-width: 768px) {
  .mdxContainer {
    padding: 1rem 3rem;
  }
}

@media(max-width: 450px) {
  .mdxContainer {
    padding: 1rem 1rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .mdxContainer h1 {
    font-size: 1.4rem;
  }

  .mdxContainer h2 {
    font-size: 1.2rem;
  }

  .mdxContainer h3 {
    font-size: 1rem;
  }

  .example {
    display: none;
  }

  .mdxContainer pre {
    display: none;
  }
}