.project {
  cursor: pointer;
}

.lightProject {
  cursor: pointer;
}

@media(max-width: 620px) {
  .project div {
    width: 80%;
    margin: 1rem auto;
  }

  .lightProject div {
    width: 80%;
    margin: 1rem auto;
  }
}

.eachProject {
  @apply bg-black opacity-60 my-4 rounded flex flex-col justify-center h-48 border-2 transition-all border-slate-500 hover:border-white hover:opacity-80
}

.lightEachProject {
  @apply bg-zinc-800 my-4 rounded flex flex-col justify-center h-48
}

.projectTitle {
  @apply text-xl text-green-600;
}

